# Note: must be run from inside of docker.
# If you want to use caddy outside of docker you can replace user-service, banking-service, with localhost



{
  debug
  servers {
    log_credentials
  }
}


localhost {

  handle /api/* {
    reverse_proxy host.docker.internal:8080
  }
  handle /oauth2/* {
    reverse_proxy host.docker.internal:8080
  }

  @websockets {
    header Connection *Upgrade*
    header Upgrade websocket
  }
  reverse_proxy @websockets host.docker.internal:4200

	handle {
		# Frontend
		reverse_proxy host.docker.internal:4200

	}
}

idp.localhost {

  # IdP OpenID Connect Well Known endpoints
  handle /.well-known/* {
    reverse_proxy host.docker.internal:8083
  }
  # IdP OAuth2 protocol endpoints
  handle /oauth2/* {
    reverse_proxy host.docker.internal:8083
  }

  # IdP other endpoints
  handle /api/* {
    reverse_proxy host.docker.internal:8083
  }

  handle /userinfo {
    reverse_proxy host.docker.internal:8083
  }


   @websockets {
      header Connection *Upgrade*
      header Upgrade websocket
    }
  	reverse_proxy @websockets host.docker.internal:4200

  handle {
  		# Frontend
  		reverse_proxy host.docker.internal:4200
  }

}